@font-face {
    font-family: "gilroy";
    src: url("../fonts/webfontkit-20190224-094359/gilroyextrabold-webfont.woff2") format("woff2"),
         url("../fonts/webfontkit-20190224-094359/gilroyextrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: "gilroy";
    src: url("../fonts/webfontkit-20190224-094514/gilroylight-webfont.woff2") format("woff2"),
         url("../fonts/webfontkit-20190224-094514/gilroylight-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;

}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0,0,0,1);
  text-transform: none;

  background-color: rgba(255,255,255,1);

}

.popup-map,
.popup-form {
display: none
}

.visually-hidden:not(:focus):not(:active) {
position:absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: insert(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

a {
  text-decoration: none;
}

.user-list,
.user-button,
.site-navigation,
.user-list-footer,
.user-button-footer,
.social-list,
.breadcrumbs,
.filter-color,
.bluetooth-filter,
.catalog-list{
 list-style: none;
}
.user-list a,
.user-button a,
.site-navigation a,
.user-list-footer a,
.user-button-footer a,
.footer-container-navigation a,
.social-list a,
.catalog-list a,
.button {
  color: rgba(0,0,0,1)
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.302);
  font-size: 14px;
  line-height: 24px;
}

.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;

}
.column-submenu li{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 60px;
}
.find-link {
  color: rgba(0, 0, 0, 0.302)}

.find-link:hover {
  color: rgba(0, 0, 0, 0.6)}

.find-link:focus {
  color: rgba(0, 0, 0, 1)}

.user-list a:hover,
.user-button a:hover,
.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6)}

.user-list a:focus,
.user-button a:focus,
.site-navigation a:focus,
.button:focus {
  color: rgba(0, 0, 0, 0.302)}

.footer-top a {
  color: rgba(255, 255, 255, 0.702)
}

.footer-middle p,
.footer-middle a,
.footer-bottom a {
  color: rgba(255, 255, 255, 1)
}

.footer-top a:hover {
  color: rgba(255, 255, 255, 1)
}

.footer-top a:focus {
  color: rgba(255, 255, 255, 0.302)
  }

.footer-middle a:hover,
.footer-bottom a:hover {
  color: rgba(255, 255, 255, 0.6)
}

.footer-middle a:focus,
.footer-bottom a:focus {
  color: rgba(255, 255, 255, 0.302)
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.102)
}

.invisible-buttons .button-addtocompare {
  color: rgba(0, 0, 0, 0.502)
}

.invisible-buttons .button-addtocompare:hover {
  color: rgba(0, 0, 0, 1)
}

.invisible-buttons .button-addtocompare:focus {
  color: rgba(0, 0, 0, 0.2)
}

.filters {
  background-color: rgba(238, 238, 238, 1)
}

.button-form {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.4px;
  background-color: rgba(0,0,0,0);
  border: none
}

.button-forms button:focus {
  color: rgba(0, 0, 0, 0.302);
}

.nav-list a{
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3.4px;

}
.submenu a{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: rgba(0,0,0,1);
  letter-spacing: inherit;
}
.submenu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.title-catalog {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-style: normal;
}

.filter-hidden{
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  background-color: rgba(219, 219, 219, 1);
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.contacts-hidden,
.about-hidden {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
	font-size: 47px;
	line-height: 48px;
  font-style: normal;
  letter-spacing: 3.6px;

}

.partners li {
  list-style: none;
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-style: normal;
  padding-left: 35px;
}

.button {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.4px;
  font-style: normal;
  text-transform: uppercase;
}


.catalog-form legend {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  text-align: left;
}
fieldset {
  border:none
}
.catalog-form fieldset {
  font-size: 14px;
  line-height: 40px;
}

.catalog-item h3 {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price p {
  font-size: 16px;
  line-height: 24px;
}
.button-addtocompare a {
  font-size: 13px;
  line-height: 20px;
}
.footer-container-navigation  {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.button-addtocart,
.button-write,
.button-about {
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

* {
  box-sizing: border-box;
}

.container {
  width:1200px;
  padding: 0, 90px;
  margin: 0 auto;
  }
.main-header-logo {
  position:absolute;
  left:60px;
  top:-25px;
}

.main-header {
  font-size: 15px;
  line-height: 30px;
  color: rgba(0,0,0,1);
  background-color: rgba(247,226,150,1);
  margin-top: 30px;
  position: relative;
  padding: 50px 60px;
  min-height: 300px;
}

.header-top {
  display: flex;
}

.user-list, .user-button {
  margin: 0;
  padding: 0;
  display: flex;
}
.user-button {
  margin-left:auto;
}
.user-button li {
  margin-left:60px;
}
.find-link {
  width:540px;
}
}
.site-navigation {
  margin: 0;
  padding: 0;
}
 .header-navigation ul.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top:40px;
}
.site-navigation li.nav-list:nth-child(2){
  margin-left: auto;
}
.site-navigation li.nav-list:nth-child(4) {
  margin-left:170px;
}
.site-navigation li.nav-list:nth-child(3) {
  margin-left:37px;
}
.about-container {
  display: flex;
  position: relative;
  padding: 0;
  margin-top: 50px;
  justify-content: space-between;
}
section.about  {
  width:620px;
}
section.contacts  {
  width:580px;
}
.background-footer {
  margin-top: 85px;
  width: 100%;
  background-color: rgba(70, 70, 70, 1)
}
.section-footer {
  display: flex;
  flex-direction: column;
}
.footer-top {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.footer-middle {
  padding-top: 40px;
  display: flex;
  justify-content:space-between;
}
ul.footer-container-navigation{
  display: flex;
  justify-content:space-between;
  width:430px;
}
.footer-container-navigation{
}

.user-list-footer,
.user-button-footer{
  display: flex;
}
.footer-container-phone {

}
a.main-footer-logo {
  margin-left: auto;
  color: rgba(255, 198, 0, 1);
}
.user-footer {
  display: flex;
}
.user-button-footer {
  display: flex;
}
.user-button-footer li {
  margin-left: 65px;
}
.footer-bottom {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.social-list{
  margin-left: auto;
  display: flex;
  padding: 0 480px;
}
.popular-categories {
  margin:0;
  padding: 0;
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.popular-categories li{
  display: flex;
  position: relative;
}

.popular-categories a {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  padding-top: 195px;

  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0,0,0,1)
}
.popular-categories a:focus {
color: rgba(0, 0, 0, 0.302);
}
.popular-categories a::before {
background-color: rgba(247,226,150,1);
}
.popular-categories a::before,
.popular-categories a::after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 160px;
height: 160px;
}
.popular-categories a::after {
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom:33px;
  cursor: pointer;
}
.virt-cat::after {
  background-image: url("../img/popular-1.png");
}
.popular-categories li .mono-cat::after {
  background-image: url("../img/popular-2.png");
  background-position: bottom;
}
.cam-cat::after {
  background-image: url("../img/popular-3.png");
}
.fit-cat::after {
  background-image: url("../img/popular-4.png");
}
.smart-cat::after {
  background-image: url("../img/popular-5.png");
}
.cvatro-cat::after {
  background-image: url("../img/popular-6.png");
}
.popular-categories a:hover:before{
  background-color: rgba(240,197,46,1);
}
.virt-cat:focus:after {
  background-image: url("../img/popular-1 focus.png");
}
.popular-categories li .mono-cat:focus:after {
  background-image: url("../img/popular-2 focus.png");
  background-position: bottom;
}
.cam-cat:focus:after {
  background-image: url("../img/popular-3 focus.png");
}
.fit-cat:focus:after {
  background-image: url("../img/popular-4 focus.png");
}
.smart-cat:focus:after {
  background-image: url("../img/popular-5 focus.png");
}
.cvatro-cat:focus:after {
  background-image: url("../img/popular-6 focus.png");
}
.slides-news {
  display: flex;
  justify-content: flex-end;
}
.slides-column-right {
  width: 560px;
}
.slides-column-left {
  display: flex;
  justify-content: center;
  width: 640px;
}
.slides-title {
font-size: 41px;
font-family: "gilroy", "Arial", sans-serif;
color: rgb(0, 0, 0);
font-weight: bold;
line-height: 41px;
text-align: left;
}
.slides-wrapper {
  display: flex;
  flex-direction: column;
}
.slides-wrapper-buttons {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 40px;
}
.advantages-list ul{
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.advantage {
  font-size: 36px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.333;
}
.advantages-list li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 80px;

}
.slides-column-right {
  margin-top:80px;

}
.advantages-list {
  display: flex;
  justify-content: flex-start;
  margin-left: -44px;
}
.about-services {
  display: flex;
  min-height: 390px;
  align-items:center;
}
.services-column-left {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.services-column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 455px;
  margin-left: 135px;
  margin-top: 4px;
}
.services-button {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 19px;
  height: 40px;
  border: 0;
  background-color: transparent;
}
.button-two {
  padding-left: 25px;
}
.button-three {
  padding-left: 38px;
}
.services-column-right h2{
font-size: 40px;
font-family: "Gilroy";
font-weight: 800;
line-height: 0;
}
.logotypes ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 134px;
}
.logotypes li {
  width: 260px;
  height: 100px;

  background-position: center;
  background-repeat: no-repeat;
  margin-bottom:33px;
  cursor: pointer;
}
.logotypes li:first-child {
  background-image: url("../img/logo-1.jpg.png");
}
.logotypes li:nth-child(2) {
  background-image: url("../img/logo-2.jpg.png");
}
.logotypes li:nth-child(3) {
  background-image: url("../img/logo-3.jpg.png");
}
.logotypes li:nth-child(4) {
  background-image: url("../img/logo-4.jpg.png");
}

.logotypes li:first-child:hover {
  background-image: url("../img/logo-1.jpg hover.png");
}


.logotypes li:nth-child(2):hover {
  background-image: url("../img/logo-2.jpg hover.jpg");
}
.logotypes li:nth-child(3):hover {
  background-image: url("../img/logo-3.jpg hover.jpg");
}
.logotypes li:nth-child(4):hover {
  background-image: url("../img/logo-4.jpg hover.jpg");
}
.user-link a{
  padding-left: 25px;
  position: relative;
}
.user-link a::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 2px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.compare-link a{
  padding-left: 25px;
  position: relative;
}
.compare-link a::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 2px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-link a::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 2px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-link a{
  padding-left: 25px;
  position: relative;
}
.compare-link a:hover::before,
.user-link a:hover::before,
.cart-link a:focus::before
{
  opacity: 0.6;
}
.compare-link a:focus::before,
.user-link a:focus::before,
.cart-link a:focus::before
{
  opacity: 0.302;
}
.nav-list a{
  position: relative;
  padding-right: 25px;
}
.nav-list  a::after {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 2px;
  left:219px;
  opacity: 0.102;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider-container {
  position: relative;
}
.slides-buttons {
  position: absolute;
  top: 368px;
  right: 78px;
  z-index: 20;
  font-size: 0;
}
.visually-hidden-buttons {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slides-buttons label {
  display: inline-block;
  position: relative;
  top:12px;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  vertical-align: top;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
}
.first-slide {
  display: none;
}
#slide-1:checked ~ .slides-news #slide1,
#slide-2:checked ~ .slides-news #slide2,
#slide-3:checked ~ .slides-news #slide3 {
  display: block;
}
#slide-1:checked ~ .slides-news label[for="slide-1"]:before,
#slide-2:checked ~ .slides-news label[for="slide-2"]:before,
#slide-3:checked ~ .slides-news label[for="slide-3"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
  z-index: 10;
}
.slides-wrapper-buttons a:hover{
  background-color: rgba(240,197,46,1);
  width: 220px;
}
.slides-wrapper-buttons a:focus{
  background-color: rgba(240,197,46,1);
  width: 220px;
}

.slides-wrapper-buttons a {
  background-image: url("../img/Layer-button.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 220px;
  ;
}
button.services-button::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  background-image: url("../img/Layer-button.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  z-index: -1;
}
div.about-services.decoration::after {
content: "";
display: block;
margin-top: 90px;
width: 100%;
height: 288px;
position: absolute;
background-color: rgba(229,229,229,0.7);
z-index: -5;
}
div.services-button-Layer{
  position: relative;
  margin: 0;
  padding: 0;
  width: 280px;
  text-align: left;
  margin-top: 30px;
  height: 40px;
  z-index: -4;
}
section.about-services::before {
  content: "";
  display: block;
  margin-top: 6px;
  width: 7px;
  height: 319px;
  position: relative;
  left: 280px;
background-image: url("../img/Layer6.png");
  z-index: -4;
}
.slides-list {
 list-style: none;
 padding: 0;
 margin: 0;
}
.about p,
.contacts p {
  width: 460px;
  margin: 0;
  padding: 0;
  margin-top: 44px;
}
ul.partners {
  position: relative;
  margin: 0;
  padding:0;
  margin-top: 65px;
}
.partners li::before {
  content: "";
  display: block;
  position: absolute;
  right: 611px;
  margin-top: 17px;
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(229,229,229,1);
}
a.button-about,
a.button-write{
  display:block;
  background-image: url("../img/Layer-button.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  margin-top: 65px;
}
a.button-about{
  width: 220px;
}
a.button-write{
  width: 220px;
}
a.button-about:hover,
a.button-write:hover {
  background-color: rgba(240,197,46,1);
}
a.button-about:focus,
a.button-write:focus{
  background-color: rgba(240,197,46,1);
}
.contacts img {
  margin-top: 44px;
  height: 266px;
  width: 560px;
}
.user-exit a {
  margin:0;
  padding: 0;
  padding-left: 26px;
  position: relative;
}
li.user-exit{
  margin: 0;
  padding: 0;
}
.user-exit a::after {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 2px;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
